doctype html
html( lang="fr" )
    head
        title Quick Position

        link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" )/

    body
        div#app

        script( src="/js/app.js" )
